USE [master]
GO
/****** Object:  Database [TestDB_2021-CS-33]    Script Date: 1/17/2023 4:46:45 PM ******/
CREATE DATABASE [TestDB_2021-CS-33]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDB_2021-CS-33', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDB_2021-CS-33.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestDB_2021-CS-33_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDB_2021-CS-33_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB_2021-CS-33].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDB_2021-CS-33]
GO
/****** Object:  Table [dbo].[tbPersonalInfo]    Script Date: 1/17/2023 4:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPersonalInfo](
	[Roll Number] [varchar](12) NOT NULL,
	[Name] [varchar](50) NULL,
	[Gender] [varchar](6) NULL,
	[Date of Birth] [datetime] NULL,
	[Section] [varchar](max) NULL,
	[Major] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
